accelerate
annotated-types
anyio
appdirs
atomicwrites
audioread
backports.weakref
beautifulsoup4
blinker
blis
boto3
botocore
bpemb
build
CacheControl
catalogue
certifi
cffi
charset-normalizer
cleo
click
cloudpathlib
confection
conllu
contourpy
crashtest
cssselect
cycler
cymem
decorator
Deprecated
distlib
distro
docstring-to-markdown
dulwich
et-xmlfile
fastjsonschema
filelock
flair
Flask
fonttools
fsspec
ftfy
gdown
gensim
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
inflection
iniconfig
installer
itsdangerous
Janome
jaraco.classes
jedi
Jinja2
jmespath
joblib
jsonpointer
keyring
kiwisolver
langcodes
langdetect
langid
lazy_loader
librosa
llvmlite
lxml
MarkupSafe
matplotlib
more-itertools
mpld3
mpmath
msgpack
munkres
murmurhash
networkx
numba
numpy
openai
openai-whisper
openpyxl
packaging
parso
patsy
pep8
pexpect
pillow
pipenv
pkginfo
platformdirs
pluggy
ply
poetry
poetry-core
poetry-plugin-export
pooch
pptree
preshed
protobuf
psutil
psycopg2-binary
ptyprocess
pyarrow
pyasn1
pyasn1-modules
pybind11
pycparser
pydantic
pydantic_core
PyDispatcher
pydub
pyls-spyder
pyparsing
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
PySocks
pytest
pytest-mock
python-dateutil
python-lsp-jsonrpc
python-lsp-server
pytorch_revgrad
PyYAML
rapidfuzz
regex
requests
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
segtok
semver
sentencepiece
shellingham
six
smart-open
sniffio
soundfile
soupsieve
soxr
spacy
spacy-legacy
spacy-loggers
sqlitedict
srsly
sympy
tabulate
thinc
threadpoolctl
tiktoken
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformer-smaller-training-vocab
transformers
trove-classifiers
typer
typing_extensions
ujson
urllib3
virtualenv
wasabi
wcwidth
weasel
webencodings
Werkzeug
whisper
Wikipedia-API
wrapt
xattr
zipp
