body, html {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

.brand-container {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Example font */
}

.brand-container:hover {
  cursor: pointer;
}


/* Define the falling animation to fall beyond screen */
@keyframes fall {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(200vh); }
}

.navbar {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  align-items: center; /* Centers items vertically */
  padding: 2vh; /* Apply padding uniformly on all sides */
}

.logo-container {
  display: flex;
  align-items: center; /* This ensures that the logo and the text are aligned */
}

.logo_nav {
  height: 15vh;
  width: 15vh; /* Adjust as needed */
  padding-right: 1rem;
}

.brand_name {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #636b7a;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand_name_small {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #a9a9a9;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand_name_variage {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #BC6366;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand_name_small_variage {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #17394D;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand-container:hover .brand_name,
.brand-container:hover .brand_name_small {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #636b7a;
}

/* Hamburger Icon */
.nav-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px; /* Icon width */
  height: 30px; /* Icon height */
  align-self: center; /* Center the icon vertically */
  margin-right: 2%; /* Align to the right */
}

.nav-icon div {
  background-color: #333;
  height: 3px;
  width: 100%;
  transition: all 0.3s;
}

/* Nav links hidden by default */
.nav-links {
  font-weight: bold;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

/* Styling for the links when nav is expanded */
.nav-links a {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  color: #5e6774;
  font-weight: bold;
}

/* Expanded nav */
.nav-active {
  display: flex;
  position: fixed;
  left: 35vw;
  width: 50%;
  height: 15%;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-evenly; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  transition: all 0.10s ease-in-out; /* Smooth transition for the menu */
  z-index: 10; /* Ensure it's above other elements */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-left: 0;
    background-color: #ffffff;
}

h1, h2 {
    color: #424242;
    padding: 2vw;
}

p {
    color: #2f2f2f;
    padding: 2vw;
}

form {
    background: white;
    padding: 2vw;
    border-radius: 8px;
}

input[type="file"], select {
    margin: 10px 0;
}

button {
    background-color: #5e6774;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #606977;
}
.transcription-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: center; /* Center vertically if needed */
    margin-top: 20px;
    padding: 2vw;
    background: #f3f3f3;
    color: #555;
}

.transcription {
    width: 100%; /* Ensures transcription uses full width of the container */
    height: fit-content
}

.transcription_container p {
    color: #2f2f2f;
    padding: 0;
}

#loader {
    border: 8px solid #ffffff; /* Light grey */
    border-top: 8px solid #eabcca; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.information {
    color: #555;
    margin-top: 1vh;
    padding: 2vw;
    background: #ffffff;
}

.divider {
    margin-top: 5vh;
    margin-bottom: 4em;
    border-top: 1px solid #d2d2d2;
}

.link {
    color: #5b6972;
    text-decoration: underline;
}