body, html {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

body {
    background-image: url('/static/imgs/bubbles.png');
    background-size: 100vw 100vh;
    background-position: center bottom;
    /* height: 100vh; */ /* Removed */
    margin: 0;
    /* background-attachment: fixed; */ /* Optional */
    transition: background-position 0.5s ease; /* Smooth transition when scrolling */
}

.brand-container {
  text-align: center;
  font-family: 'Arial', sans-serif; /* Example font */
}

.brand-container:hover {
  cursor: pointer;
}

.information-image {
    text-align: left; /* Centers the image */
    margin-left: 2vw;
}

.information-image img {
    max-width: 10%;
    height: auto;
}


/* Define the falling animation to fall beyond screen */
@keyframes fall {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(200vh); }
}

.navbar {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  align-items: center; /* Centers items vertically */
  padding: 2vh; /* Apply padding uniformly on all sides */
}

.logo-container {
    display: flex;
    align-items: center; /* This ensures that the logo and the text are aligned */
}

.logo_nav {
    height: 15vh;
    width: 15vh; /* Adjust as needed */
    padding-right: 1rem;
}

.brand_name_dark {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #212121;
    align-self: center; /* Center the text vertically */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1vw;
}

.brand_name_light {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #b4b1ac;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand_name_small {
  font-size: 2rem;
  text-transform: uppercase;
  color: #667981;
  align-self: center; /* Center the text vertically */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.brand-container:hover .brand_name,
.brand-container:hover .brand_name_small {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #636b7a;
}

/* Hamburger Icon */
.nav-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px; /* Icon width */
  height: 30px; /* Icon height */
  align-self: center; /* Center the icon vertically */
  margin-right: 2%; /* Align to the right */
}

.nav-icon div {
  background-color: #333;
  height: 3px;
  width: 100%;
  transition: all 0.3s;
}

/* Nav links hidden by default */
.nav-links {
  font-weight: bold;
  display: none;
  flex-direction: column;
  align-items: flex-start;
}

/* Styling for the links when nav is expanded */
.nav-links a {
  font-weight: bold;
  text-decoration: none;
  color: #333333;
  padding: 10px;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  color: #5e6774;
  font-weight: bold;
}

/* Expanded nav */
.nav-active {
  display: flex;
  position: fixed;
  left: 35vw;
  width: 50%;
  height: 15%;
  background-color: transparent;
  flex-direction: row;
  justify-content: space-evenly; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  transition: all 0.10s ease-in-out; /* Smooth transition for the menu */
  z-index: 10; /* Ensure it's above other elements */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding-left: 0;
    background-color: transparent;
}

h1 {
    color: #212121;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-transform: uppercase;
}

h2 {
    color: #eaba12;
    padding-top: 5vh;
    padding-left: 2vw;
    padding-right: 2vw;
    text-transform: uppercase;
}

p {
    text-align: justify;
    color: #2f2f2f;
    padding-left: 2vw;
    padding-right: 2vw;
}

.information p {
    text-align: justify;
    color: #2f2f2f;
    padding-left: 2vw;
    padding-right: 2vw;
}

form {
    background: transparent;
    padding: 2vw;
    border-radius: 8px;
}

input[type="file"], select {
    margin: 10px 0;
}

button {
    background-color: #5e6774;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px 0;
}

button:hover {
    background-color: #606977;
}
.transcription-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: justify;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
}

.transparent_white {
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
}

.transcription {
    width: 100%; /* Ensures transcription uses full width of the container */
    height: fit-content;
    font-weight: bold;
}

#loader {
    border: 8px solid #ffffff; /* Light grey */
    border-top: 8px solid #707070; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    margin-left: 2vw;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.divider {
    margin-top: 5vh;
    margin-bottom: 4em;
}

.link {
    color: #5b6972;
    text-decoration: underline;
}