<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whinter</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body style="background-image: url('/static/imgs/bubbles.png')">
    <div class="information-image">
        <img src="/static/imgs/funding_logo.png" alt="Logos of funding institutions" />
    </div>
    <div class="navbar">
        <div class="logo-container">
            <a href="/" style="text-decoration:none"><span class="brand_name_dark">WH<span class="brand_name_light">INTER</span></span></a>
        </div>
        <div class="nav-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav-links">
            <a href="/">HOME</a>
            <a href="/variage">VARIAGE</a>
        </div>
    </div>
    <h1>A <span class="brand_name_small">Wh</span>isper user <span class="brand_name_small">inter</span>face for automatic transcriptions.</h1>
    <p>
        Choose an audiofile to upload and your desired Whisper model. For more information on what model size to use, please visit the <a class="link" href="https://huggingface.co/openai/whisper-large">Hugging Face documentation</a>.
    </p>
    <form id="uploadForm">
        <input type="file" id="audiofile" name="audiofile" required>
        <select name="model_type" id="model_type">
            <option value="tiny">Tiny</option>
            <option value="base">Base</option>
            <option value="small">Small</option>
        </select>
        <button type="button" onclick="uploadAudio()">Transcribe</button>
    </form>
    <h2>Transcription</h2>
    <div class="transcription-container">
        <div id="loader" style="display: none;"></div> <!-- Loader appears when transcription is in progress -->
        <p id="transcription"></p> <!-- Where transcription text will appear -->
    </div>
    <div class="divider"></div>
    <h2>Information</h2>
    <p class="information"><a class="link" href="https://huggingface.co/docs/transformers/en/model_doc/whisper" target=”_blank”>Whisper</a> is a speech-to-text transcription service that uses the Hugging Face Transformers library to transcribe audio files. The service supports multiple model sizes, including Tiny, Base, and Small. The service is designed to be easy to use and can be accessed via this simple web interface. It is free to use and does not require any sign-up or registration.</p>
    <p class="information">This service is funded through <a class="link" href="https://www.simonepfenninger.eu">Prof. Dr. Simone Pfenninger</a> at the English Department of the University of Zurich. The webapplication is designed and maintained by <a class="link" href="https://www.cl.uzh.ch/de/research-groups/neuro/team/ma/baur.html">Sarah Baur</a>. For any questions or inqueries, please contact <a class="link" href="mailto:sarah.baur@uzh.ch">sarah.baur@uzh.ch</a>.</p>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/navbar.js"></script>
</body>
</html>