<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whisper Transcriber</title>
    <link rel="stylesheet" type="text/css" href="../static/CSS/style.css">
</head>
<body>
    <h1>Audio Transcription with Whisper</h1>
    <form id="uploadForm">
        <input type="file" id="audiofile" name="audiofile" required>
        <select name="model_type" id="model_type">
            <option value="tiny">Tiny</option>
            <option value="base">Base</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
        </select>
        <button type="button" onclick="uploadAudio()">Transcribe</button>
    </form>
    <div id="loader" style="display: none;"></div>
    <h2>Transcription:</h2>
    <p id="transcription"></p>
    <div class="divider"></div>
    <h2>Information</h2>
    <p id="information"><a class="link" href="https://huggingface.co/docs/transformers/en/model_doc/whisper" target=”_blank”>Whisper</a> is a speech-to-text transcription service that uses the <a class="link" href="https://huggingface.co/docs/transformers/en/index" target=”_blank”>Hugging Face Transformers library</a> to transcribe audio files. The service supports multiple model sizes, including Tiny, Base, Small, Medium, and Large. The service is designed to be easy to use and can be accessed via this simple web interface. The service is free to use and does not require any sign-up or registration. However, for full-scale usability, you can implement the service in your own application.<br><br>For more information on this implementation, read the readme file provided in the repository.</p>

    <script src="../static/js/script.js"></script>
</body>
</html>
