<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whisper Transcriber</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="navbar">
        <div class="logo-container">
            <a href="/" style="text-decoration:none"><img class="logo_nav" src="../static/imgs/logo.png" alt="stylized shush motion logo"></a>
            <a href="/" style="text-decoration:none"><span class="brand_name_variage">WH<span class="brand_name_small_variage">INTER</span></span></a>
        </div>
        <div class="nav-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav-links">
            <a href="/">HOME</a>
            <a href="/variage">VARIAGE</a>
        </div>
    </div>
    <h1>A <span class="brand_name">Whisper</span> user <span class="brand_name_small">interface</span> for automatic transcriptions.</h1>
    <p>
        If you transcribe your files on this page, the output will include specific transcription conventions used in the <a class="link" href="https://www.variage.ch">VARIAGE r>
    </p>
    <form id="uploadForm">
        <input type="file" id="audiofile" name="audiofile" required>
        <select name="model_type" id="model_type">
            <option value="small">Small</option>
        </select>
        <button type="button" onclick="uploadAudio()">Transcribe</button>
    </form>
    <h2>Transcription</h2>
    <div class="transcription-container">
        <div id="loader" style="display: none;"></div> <!-- Loader appears when transcription is in progress -->
        <p id="transcription"></p> <!-- Where transcription text will appear -->
    </div>
    <div class="divider"></div>
    <h2>Information</h2>
    <p class="information"><a class="link" href="https://huggingface.co/docs/transformers/en/model_doc/whisper" target=”_blank”>Whisper</a> is a speech-to-text transcription ser>
    <script src="../static/js/script_variage.js"></script>
    <script src="../static/js/navbar.js"></script>
</body>
</html>