<!DOCTYPE html>
<html lang="en">
<head>
    <title>Whinter</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body style="background-image: url('/static/imgs/bubbles.png')">
    <div class="information-image">
        <img src="/static/imgs/funding_logo.png" alt="Logos of funding institutions" />
    </div>
    <div class="navbar">
        <div class="logo-container">
            <a href="/" style="text-decoration:none"><span class="brand_name_dark">WH<span class="brand_name_light">INTER for VARIAGE</span></span></a>
        </div>
        <div class="nav-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="nav-links">
            <a href="/">HOME</a>
            <a href="/variage">VARIAGE</a>
        </div>
    </div>
    <h1>A <span class="brand_name_small">Wh</span>isper user <span class="brand_name_small">inter</span>face for automatic transcriptions.</h1>
    <h2>Information</h2>
    <div class = "transparent_white">
        <p>Whisper is a speech-to-text transcription service that uses the Hugging Face Transformers library to transcribe audio files. The Whinter web application was created to allow for easy access to Whisper without prior programming knowledge. It is free to use and does not require any sign-up or registration.
        <p>Currently, Whinter supports multiple Whisper model sizes, including Tiny, Base, and Small. For more information please visit the <a class="link" href="https://huggingface.co/docs/transformers/en/model_doc/whisper" target=”_blank”>Hugging Face documentation</a></p>
        <p>This service is funded through <a class="link" href="https://www.simonepfenninger.eu">Prof. Dr. Simone Pfenninger</a> at the English Department of the University of Zurich. The webapplication was created and is currently maintained by <a class="link" href="https://www.cl.uzh.ch/de/research-groups/neuro/team/ma/baur.html">Sarah Baur</a>. For any questions or inqueries, please contact <a class="link" href="mailto:sarah.baur@uzh.ch">sarah.baur@uzh.ch</a>.</p>
    </div>
    <h2>Transcription</h2>
    <p><b>Please only use this transcriber if you require the result to follow the VARIAGE transcription guidelines. If not, the regular Whinter interface will return the finished transcription faster.</b></p>
    <p class="transparent_white">Choose an audio file to upload and your desired Whisper model. Please be patient! It might take a while for your file to be fully transcribed.</p>
    <form id="uploadForm">
        <input type="file" id="audiofile" name="audiofile" required>
        <select name="model_type" id="model_type">
            <option value="small">Small</option>
        </select>
        <button type="button" onclick="uploadAudio()">Transcribe</button>
    </form>
    <div class="transcription-container">
        <div id="loader" style="display: none;"></div> <!-- Loader appears when transcription is in progress -->
        <p id="transcription"></p> <!-- Where transcription text will appear -->
    <div class="divider"></div>
    <script src="../static/js/script_variage.js"></script>
    <script src="../static/js/navbar.js"></script>
</body>
</html>